@font-face {
  font-family: 'woltauth';
  font-weight: normal;
  font-style: normal;
  --woltlab-suite-preload: #{preload(
      getFont("woltauth.woff2", "", "1.0.0"),
      $as: "font",
      $crossorigin: true,
      $type: "font/woff2"
  )};
  src: url(getFont("woltauth.woff2", "", "1.0.0")) format("woff2"),
  url(getFont("woltauth.woff", "", "1.0.0")) format("woff")
  url(getFont("woltauth.ttf", "", "1.0.0")) format("truetype");
}

.fa-woltauth:before {
  content: "\f400";
  font-family: 'woltauth', 'FontAwesome', serif;
}

.fa-openauth:before {
  font-family: 'woltauth', 'FontAwesome', serif;
  content: "\f401";
}

.thirdPartyLoginButton {
  &.openAuthLoginButton {
    background-color: rgb(59, 59, 59);
    color: rgb(255, 255, 255);

    &:hover {
      background-color: rgb(37, 37, 37);
    }
  }
}
